/**
 * site global style
 * Created on : Jan 29, 2017, 9:51:27 PM
 * Author     : Fei
 */

/* site main color theme */
.cn_red_1 {
  color: #b51f09;
}

.cn_red_2 {
  color: #d73c37;
}

.cn_red_3 {
  color: #ee6146;
}

.cn_yellow_1 {
  color: #dfbc5e;
}

.cn_yellow_2 {
  color: #e6e0ae;
}

body {
  background-color: #e6e0ae;
}
/* /site main color theme */